*.tlog
*.log
*.idb
*.pdb
Debug/ElapTime.exe.embed.manifest
Debug/ElapTime.exe.embed.manifest.res
Debug/ElapTime.exe.intermediate.manifest
*.ilk
Debug/ElapTime.lastbuildstate
*.obj
Debug/ElapTime_manifest.rc
ElapTime.opensdf
*.sdf
*.suo
*.user
ipch/elaptime-cd4b3aeb/elaptime-5122fafd.ipch
Release/ElapTime.exe.intermediate.manifest
Release/ElapTime.lastbuildstate